<h2><%= @place.name %></h2>
<p>
  Sizin eklediginiz <%= @place.name %> baslikli place'niza yeni bir yorum eklendi.
</p>

<%= image_tag 'slider/slider_1.jpg' %>

<p>
  Place'niza <%= link_to @place.name, place_url(@place) %> adresinden ulasabilirsiniz.
</p>
<p>
  Iyi fikirler
</p>