<div class="jumbotron">
  <h1 id="center">Welcome!</h1>
  <p id="center">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
  <p id="center_center"><%= link_to  "Owner Log In", new_owner_session_path, class: 'btn btn-primary btn-lg' %>     ||     <%= link_to  "Customer Log In", new_customer_session_path, class: 'btn btn-primary btn-lg' %></p>
</div>