<div class="jumbotron">
  <h1 id="center">Welcome!</h1>
  <p id="center">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
  <p id="center_center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>