<h1>Listing Categories</h1>
<% @categories.each do |category|%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=link_to category.title, category_path(category) %></h3>
      </div>
    </div>
<% end %>