<div id="categories" class="nav-content">
  <% @places.each do |place| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/places/<%= place.id %>"><%= place.name %></a></h3>
        </div>
        <div class="panel-body">
          <%= place.description %>
        </div>
      </div>
  <% end %>
</div>

